<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vitorgalvao.launchd.update_hosts</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>curl 'https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts' --output /etc/hosts &amp;&amp; dscacheutil -flushcache &amp;&amp; killall -HUP mDNSResponder</string>
	</array>
        <key>RunAtLoad</key>
        <true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
